.page-collections-details {

  table {
    width: 100%;
    background-color: white;
  }

}

.collections-details-header {

  margin-top: 2em;

  h1 {
    margin: 0;
  }

  p {
    color: $color-gray6;
    font-weight: bold;
  }

}