/* set responsive breakpoints */
$breakpoints: (
  xxs: 20rem, // ~320px
  xs: 32rem, // ~512px
  sm: 48rem, // ~768px
  md: 64rem, // ~1024px
  lg: 80rem, // ~1280px
  xl: 92rem,  // ~1440px
  xxl: 106rem  // ~1696px
) !default;

@mixin breakpoint($breakpoint, $logic: false) {
  @if( $logic ) {
    @media #{$logic} and (min-width: map-get($map: $breakpoints, $key: $breakpoint)) { @content; }
  } @else {
    @media (min-width: map-get($map: $breakpoints, $key: $breakpoint)) { @content; }
  }
}

@mixin maxbreakpoint($breakpoint, $logic: false) {
  @if( $logic ) {
    @media #{$logic} and (max-width: map-get($map: $breakpoints, $key: $breakpoint)) { @content; }
  } @else {
    @media (max-width: map-get($map: $breakpoints, $key: $breakpoint)) { @content; }
  }
}