.breadcrumbs {

  list-style: none;
  padding: 0;
  margin: 0;

  &,
  li,
  a {
    display: flex;
    align-items: center;
  }

  svg {

    margin: 0 .4em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

  }

}