.collection {

  width: 100%;
  margin: 2em auto 2em;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

}

.collection-heading {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  a.button {

    background-color: $color-dashboard-dark-gray;
    color: $color-dashboard-light-gray;
    border-radius: 6px;
    padding: 8px 24px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.33s ease-in-out;
    margin-bottom: 20px;
    display: inline-block;

    &:hover {
      background-color: $color-e84-green;
      color: $color-background;
    }

    @include breakpoint(xl) {
      margin-bottom: 0;
    }

  }

}

.collection-title {

  text-align: left;
  margin: 1em 0;

  &,
  a {
    color: $color-e84-green;
  }

  a {
    text-decoration: none;
  }

}

.collection-dashboard {

  background-color: $color-dashboard-darker-gray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;

}

.collection-metrics {
  flex-grow: 1;

  @include breakpoint(md) {
    border-right: solid 1px $color-dashboard-dark-gray;
  }

}

.collection-meta {

  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: .6em 1em;
  border-top: solid 1px $color-dashboard-dark-gray;
  margin: 0;

  li {
    margin: 0;
  }

  p {
    color: $color-dashboard-light-gray;
    font-size: .9em;
    font-style: italic;
    margin: 0;
    font-weight: lighter;
  }

}

.collection-cells {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;

  @include breakpoint(md) {
    flex-wrap: nowrap;
  }

}

.collection-cell {

  flex-grow: 1;
  padding: 2em 1em;
  margin: 1px;
  width: 100%;

  @include breakpoint(md) {
    width: unset;
  }

}

.collection-cell-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  font-size: 1.25em;
  margin: 0 0 1em;
  color: $color-dashboard-light-gray;
}

.collection-cell-value {
  font-size: 3.125em;
  font-weight: bold;
  margin: 0;
  color: $color-dashboard-light-gray;
}

.collection-not-active {

  padding: 2em 0;

  p {

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

}

.collection-is-loading {

  .collection-cell-header,
  .collection-cell-value {
    @extend .loading;
  }

}

@include breakpoint(md) {
  .collection-heading {
    flex-wrap: nowrap;
  }
}