.data-table {
  width: 100%;
  margin: 0 auto;
}

.data-table-row-headers {

  &,
  .MuiTableRow-head {
    background: $color-dashboard-dark-gray;
  }

}

.data-table-row-header {

  &,
  &.MuiTableCell-head {
    color: $color-dashboard-light-gray;
    border: 0 none;
  }

}


